<footer class="border-top footer text-center">
    <div class="container-fluid text-white" style="background-color: #21081a;">
        <a class="btn btn-link btn-floating btn-lg text-dark"
           href="https://github.com/Nik0layIvan0v/RealEstateWebApp"
           role="button"
           data-mdb-ripple-color="dark">
            <i class="fab fa-github"></i>
        </a>
        <span>Nikolay Ivanov</span>
    </div>
</footer>