<!---Footer--->
<footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
    <!-- Grid container -->
    <div class="container p-1"></div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-2">
        <!-- Github -->
        <a class="btn btn-link btn-floating btn-lg text-dark"
           href="https://github.com/Nik0layIvan0v/RealEstateWebApp"
           role="button"
           data-mdb-ripple-color="dark"><i class="fab fa-github"></i>
        </a>
        <span class="text-white p-1 shadow">Nikolay Ivanov</span>
    </div>
    <!-- Copyright -->
</footer>