@using RealEstate.Infrastructure
@using RealEstate.Services
@using RealEstate.Common

@inject IBrokerService BrokerService
@{
    string userId = User.GetLoggedInUserId();
    bool isUserBroker = await BrokerService.IsUserAlreadyBrokerAsync(userId);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - RealEstate</title>
    <link rel="icon" type="image/vnd.microsoft.icon" sizes="32x32" href="/favicon.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 pb-3 shadow" style="background-color: #21081a;">
            <div class="container text-white">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-home" width="30" height="30"></i> RealEstate
                </a>
                <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (isUserBroker)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Estates" asp-action="Create"><i class="fas fa-plus-circle"></i> Add Property</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Estates" asp-action="All"><i class="fas fa-sitemap"></i> All Properties</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="About"><i class="fas fa-info"></i> About</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container pb-3">

        @if (TempData.ContainsKey(GlobalConstants.GloblalMessages.GlobalTempMessageKey))
        {
            <div class="alert alert-success" id="success-alert">
                <button type="button" class="close" data-dismiss="alert">x</button>
                @TempData[GlobalConstants.GloblalMessages.GlobalTempMessageKey]
            </div>
        }
        <main role="main" class="pb-6">
            @RenderBody()
        </main>
    </div>

    <partial name="_FooterPartial" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/fontawesome/js/all.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
