@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<style>
    body  {
        background-image: url("D:\Softuni\CSharp Web\2 CSharpAsp.NetCore -May2021\Project Defence\RealEstateWebApp\MyRealEstateApp\RealEstate\wwwroot\Img\RealEstateErrorPage.png");
    }
</style>

@if (Model.ShowRequestId)
{
    <div class="text-right">
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </div>
}

